<div class="container" style="margin-top: 30px; margin-bottom: 20em;">
    <h3>Work Experience</h3>
    <br>
    <div class="card">
        <h4 class="card-header">SOFTWARE ENGINEER II</h4>
        <div class="card-body">
            <h5 class="card-title">EBSCO Information Services (Remote)</h5>
            <p class="card-text"><i> Durham, NC (Nov 2023 - Present)</i></p>
            <h6 class="card-subtitle mb-2"><u>Resposibilities:</u></h6>
            <ul class="card-text">
                <li>Led the development of state-of-the-art APIs using an API First approach, prioritizing usability,
                    scalability, and performance to enhance product functionality.</li>
                <li>Expanded product offerings by creating cutting-edge applications on the AWS cloud platform,
                    leveraging cloud-native services such as AWS Lambda, S3, and DynamoDB to build scalable and
                    resilient solutions.</li>
                <li>Modernized existing applications by migrating them to the cloud and refactoring them to take
                    advantage of AWS native components, optimizing performance, security, and maintainability.</li>
                <li>Contributed to system architecture, design, implementation, testing, and operation of cloud-based
                    products, collaborating with cross-functional teams to define solutions aligned with business
                    objectives.</li>
                <li>Ensured quality delivery through robust testing strategies, continuous improvement initiatives, and
                    adherence to Agile Manifesto and SAFe framework principles, fostering collaboration, transparency,
                    and adaptability within the team and organization.</li>
            </ul>
        </div>
    </div>
    <br>
    <div class="card">
        <h4 class="card-header">.NET DEVELOPER</h4>
        <div class="card-body">
            <h5 class="card-title">LYHOUR PAYPRO PLC. (On-Site)</h5>
            <p class="card-text"><i>Phnom Penh, Cambodia (Jul 2021 - Aug 2022)</i></p>
            <h6 class="card-subtitle mb-2"><u>Resposibilities:</u></h6>
            <ul class="card-text">
                <li>Facilitated in the transformation of ASP.NET MVC web applications to ASP.NET Core Blazor,
                    revolutionizing employee
                    processes across all stages of development.</li>
                <li>Delivered exceptional results, including a remarkable 10% reduction in loading times based on the
                    complexity of the application, client-side processing, caching, network conditions and optimization
                    techniques.
                </li>
                <li>Orchestrated the development of streamlined and high-performing codebase leveraging C# and ASP.NET,
                    leading to
                    a notable 30% increase in application performance, seamless scalability, and enhanced user
                    engagement.</li>
                <li>Conceptualized SQL Server skills to construct efficient basic SQL queries, facilitating the
                    extraction and manipulation of data from databases for streamlined reporting and improved
                    decision-making processes.</li>
                <li>Implemented advanced encryption and hashing techniques within the Payment Gateway, safeguarding
                    customer data and reducing security vulnerabilities, resulting in zero data breaches or unauthorized
                    access
                    incidents.</li>
                <li>Employed a combination of diagnostic tools, debugging techniques, and in-depth code analysis to
                    resolve complex technical issues with a 90% success rate, ensuring the continuous delivery of
                    high-quality software.
                </li>
            </ul>
        </div>
    </div>
    <br>
    <div class="card">
        <h4 class="card-header">WEB DEVEOPER</h4>
        <div class="card-body">
            <h5 class="card-title">LUNASA TELEMATIC & TECHNOLOGIES CO., LTD. (On-Site)</h5>
            <p class="card-text"><i>Phnom Penh, Cambodia (Mar 2019 - Jun 2021)</i></p>
            <h6 class="card-subtitle mb-2"><u>Resposibilities:</u></h6>
            <ul class="card-text">
                <li>Spearheaded the development of displaying GPS-based applications utilizing C# followed ASP.NET MVC
                    framework,
                    resulting in a significant advancement of display application and improving user experience by 40%
                    based on the UI
                    using Angular framework with TypeScript, Bootstrap, HTML, and CSS.
                </li>
                <li>Leveraged robust database management tools within MS SQL Server, including SQL Server Management
                    Studio
                    (SSMS), resulting in a 35% reduction in data retrieval times and ensuring data accuracy across
                    diverse data sets using
                    data indexing</li>
                <li>Develop basic ETL, and reporting solutions using SQL Server Integration Services (SSIS).
                </li>
                <li>Executed comprehensive testing via Postman, validating APIs by testing on the functionality,
                    parameter validation and
                    guaranteeing functionality such as request responses in JSON format, error handling testing and
                    authentication
                    methods such as API keys</li>
                <li>Played a pivotal role in troubleshooting complex technical challenges, maintaining project
                    timelines.</li>
                <li>Facilitate all phases of software development life cycle in Agile/Scrum environment</li>
            </ul>
        </div>
    </div>
</div>