<div class="container" style="margin-top: 30px;">
    <h1>Education</h1>
    <br>
    <div class="card" style="max-width: 70rem;">
        <div class="card-body">
            <h4 class="card-title">MASTER DEGREE IN COMPUTER SCIENCE</h4>
            <p class="card-text"><i>Ongoing (Nov 2022 - June 2025)</i></p>
            <h6 class="card-subtitle mb-2 text-muted">Maharishi International University, Fairfield, IA</h6>
        </div>
    </div>
    <br>
    <div class="card" style="max-width: 70rem;">
        <div class="card-body">
            <h4 class="card-title">BACHELOR DEGREE IN COMPUTER SCIENCE AND ENGINEERING</h4>
            <p class="card-text"><i>Gratuated (Oct 2017 - SEP 2021)</i></p>
            <h6 class="card-subtitle mb-2 text-muted">Royal University of Phnom Penh, Phnom Penh, Cambodia</h6>
        </div>
    </div>
    <br>
    <!-- <h3>Trainings</h3> -->
    <div class="card border" style="max-width: 70rem;">
        <!-- <div class="card-header">Header</div> -->
        <div class="card-body">
            <h4 class="card-title">Trainings</h4>
            <ul class="card-text">
                <li><b>Create microservices with .NET and ASP.NET Core :</b> Microsoft Trainings (Sep/2023)</li>
                <li><b>Improve how forms and validation work in Blazor web apps :</b> Microsoft Trainings (Sep/2023)
                </li>
                <li><b>Create web apps and services with ASP.NET Core, minimal API, and .NET :</b> Microsoft Trainings
                    (August/2023)</li>
                <li><b>Build web applications with Blazor Module : </b>Microsoft Trainings (December/2021)</li>
            </ul>
        </div>
    </div>
</div>