<div class="container">
    <div class="row">
        <div class="col">
            <h4 style="text-align: left; margin-top: 30px;">{{position}}</h4>
            <h1 style="text-align: left; margin-top: 20px;"><b>{{name}}</b></h1>
            <h5 style="text-align: left; margin-top: 20px;">{{type}}, <img src="../../assets/img/geo.svg" width="25px">
                {{location}}</h5>
            <br>
            <div class="links">
                <button type="button" class="btn btn-outline-info"><a href="#"><img src="../../assets/img/envelope.svg"
                            width="20px"></a></button> &nbsp; &nbsp;
                <button type="button" class="btn btn-outline-info"><a href="https://www.linkedin.com/in/sokim-nam/"><img
                            src="../../assets/img/linkedin.svg" width="20px"></a></button> &nbsp; &nbsp;
                <button type="button" class="btn btn-outline-info"><a href="https://github.com/Sokim17"><img
                            src="../../assets/img/github.svg" width="20px"></a></button> &nbsp; &nbsp;
            </div>
        </div>
        <div class="col">
            <img src="../../assets/img/profile.jpg" width="300px" style="margin-top: 30px;">
        </div>
    </div>
</div>